@using MyCalendar.Core.Models
@model IEnumerable<Appointment> 
@{
    ViewData["Title"] = "Calendar";
}

<div class="wrapper wrapper-content white-bg">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    Choose your month
                </div>
                <div class="card-body">

                    <div class="btn-group d-flex" role="group" aria-label="Months">
                        @for (int i = 1; i <= 12; i++)
                        {
                            DateTime date = new DateTime(DateTime.Now.Year, i, 1);
                            var monthName = date.ToString("MMM");
                            //<a class="btn btn-outline-secondary" asp-action="Index" asp-route-id="@i">@monthName</a>
                            <a href="#" onclick="GetAppointments(@i); return false;" class="btn btn-outline-secondary">@monthName</a>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="appList" class="col-sm-8">
            @await Html.PartialAsync("AppointmentList", Model)
        </div>

        <div id ="appDetails" class="col-sm-4">
            @await Html.PartialAsync("AppointmentDetail", Model.FirstOrDefault())           
        </div>
    </div>

</div>

<script type='text/javascript'>

    function GetAppointments(monthId) {

        $.ajax({
            type: "POST",
            url: "@Url.Action("GetAppointments")",
            data: { id: monthId},
            dataType: "text",
            success: function (res) {
                //console.log(res);
                if (res == null) {
                    $('#appList').replaceWith($('#appList').html("<h4>There is no appointment</h4>"));
                    $('#appDetails').replaceWith($('#appDetails').html("<h4>There is no appointment</h4>"));
                }
                else {
                    $('#appList').replaceWith($('#appList').html(res));
                }
            },
            error: function (req, status, error) {
                NoDataFound();
                console.log(error);
            }
        });

    }

    function NoDataFound() {
        $('#appointmentListContent').replaceWith($('#appointmentListContent').html("<h4>No data found</h4>"));
        $('#appointmentDetailContent').replaceWith($('#appointmentDetailContent').html("<h4>No data found</h4>"));
    }
</script>

