@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is my Calendar Application.</p>
    <p>You can freely organize your schedule here.</p>
</div>
